.line{
  width: auto;
  height: 2px;
  margin-top:100px;
  border:  1px solid #d7d7d7;

}

.icon-bow{
  display: block;
  width: 52px;
  height: 21px;
  background: #fff url(../images/bow.png) no-repeat 50% 50%;
  margin: 0 auto;
  margin-top: -11px;
  padding: 0 10px;
}
/*
 * 底部边栏的样式
 */
#bottom{
  background: #009571 url(../images/emerald.png) ;
  color: #fff;
  text-shadow: 1px 1px 1px #048465;
}

.semicircle{
  background: url(../images/semicircle.png) repeat-x;
  padding: 20px 0;
}

#bottom h3{
  font-size: 18px;
  color: #075442;
  text-shadow: 1px 1px 1px #03a67f;
  background: url(../images/dashed-h.png) repeat-x 0 50%;
}

#bottom h3 span{
  background: url(../images/emerald.png);
  padding-right: 10px;
}

.dashed-v{
  background: url(../images/dashed-v.png) repeat-y 100% 30%;
  padding-right: 20px;
}

#home{
  font-size: 23px;
  color: #0f0f0f;
}

#github{
  font-size: 23px;
}

#wechat{
  text-align: center;
}
/*
 * 页脚部分的样式
 */
#footer{
  background: url(../images/emerald-footer.png) repeat-x #097a5f;
  padding: 30px 0 20px 0;
  color: #064536;
  text-shadow: 1px 1px 1px #009571;
}














